.cssSprite a {
  display: block;
  width: 400px;
  height: 300px;
  background: url(images/sample1.png) no-repeat;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}

.cssSprite a:hover {
  background-position: 0 -300px;
}
